@model swop.Models.Cycle

@{
    ViewBag.Title = "Details";
}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    function percentageComplete(cid) {
        $.ajax({
            type: "GET",
            url: "/Cycles/PercentageComplete",
            data: {
                id: cid
            },
            dataType: "json",
            success: function (data) {
                //document.write(data)
                //return data+""
                $("#percentageBox").text(data + "%");
            },
            error: function (xhr, status, error) {
                return "cycleid is null" //temp
            }
        });
    }
</script>


<h2>Details</h2>

<div>
    <h4>Cycle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt>
            Completed
        </dt>
        <dd id="percentageBox">
            <script>percentageComplete(@Model.CycleId)</script>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CycleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
