@model swop.Models.User

@{
    ViewBag.Title = "MyHistory";
}
    <section class="section-2">
        <h1 style="margin-left:1%;">My History</h1>

        <table style="margin-left:1%">
            <tr>
                <td>Starting Date</td>
                <td>Ending Date</td>
                <td>Host</td>
                <td>Guest</td>
            </tr>
            @foreach (var item in Model.Histories)
            {
                string sDate = item.StartDate.ToShortDateString();
                string eDate = item.EndDate.ToShortDateString();
                string host = item.Host.FirstName + " " + item.Host.LastName;
                string guest = item.Guest.FirstName + " " + item.Guest.LastName;
                bool flag = false;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => sDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => eDate)
                    </td>
                    <td>
                        @Html.ActionLink(host, "Details", "Users", new { id = item.Host.UserId }, null)
                    </td>
                    <td>
                        @Html.ActionLink(guest, "Details", "Users", new { id = item.Guest.UserId }, null)
                    </td>
                    <td>
                        @foreach (var apS in item.Host.ApartmentScores)
                        {
                            if (apS.ScoreByUser.UserId == item.UserId)
                            {
                                flag = true;
                            }
                        }
                        @if (!flag)
                        {
                            @Html.ActionLink("Rate Host", "AddScorePage", "Users", new { id = item.Host.UserId }, null)
                        }
                    </td>
                </tr>
            }
        </table>
    </section>