<head>
    @if ((bool)Session["Logged"] == false)
    {
        <meta http-equiv="refresh" content="0; url = http://localhost:54598/Home/Index" />
    }
</head>
@model IEnumerable<swop.Models.User>

@{
    ViewBag.Title = "SearchUser";
}

    <section class="section-22">
        <h1 style="margin-left:1%;">Search User</h1>

        <label style="margin-left:1%;">Search by email: <input type="text" id="SearchEmail"></label>
        <label>Search by country: <input type="text" id="SearchCountry"></label>
        <label>Search by city: <input type="text" id="SearchCity"></label>
        <label>Search by price: <input type="number" min="0" id="SearchPrice"></label>
        
        @Html.ActionLink("Filter", "SearchUser", "Users", null, new { @class = "btnGeneral btnGeneral:hover", @onclick = "this.href += '?email=' + document.getElementById('SearchEmail').value + '&country=' + document.getElementById('SearchCountry').value + '&city=' + document.getElementById('SearchCity').value + '&price=' + document.getElementById('SearchPrice').value;" })
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApartmentDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApartmentPrice)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApartmentDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApartmentPrice)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.UserId }, new { @class = "btnGeneral btnGeneral:hover" })
                    </td>
                </tr>
            }

        </table>
    </section>